@model User

<h2>Авторизация</h2>

<form method="post" asp-controller="Home" asp-action="Login">
    <label asp-for="Name">Отображаемое имя</label> <br />
    <input asp-for="Name" /><br />

    <label asp-for="Password">Пароль</label> <br />
    <input asp-for="Password" /> <br />

    <input type="submit" value="Войти" />
</form>

<a asp-route="Main">Назад</a>