@model List<Post>

<h3>Мои посты</h3>
<ul>
    @foreach (Post post in Model.OrderByDescending(e => e.Id))
    {
        <li>
            [@post.Date]<br />
            <b>@post.Title</b> <br />
            @post.Description
        </li>
    }
</ul>