@model List<Post>

<a asp-route="Profile">Назад</a>

<h3>Список постов</h3>
<ul>
    @foreach(Post post in Model.OrderByDescending(e => e.Id))
    {
        <li>[<a asp-controller="Authorized" asp-action="Account" asp-route-name="@post.Author">@post.Author</a>] @post.Title <br /> @post.Description</li>
    }
</ul>